.navbar {
  position: fixed;
  top: 0;
  padding: 20px;
  height: 20px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*animations*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar_scroll_black {
  background-color: #111;
}

.netflix-logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
  /* margin-left: 30px; */
}

.avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
